@model eComm_Reporting_Application.Models.UserSubscriptionDropdownModel

@{
    ViewData["Title"] = "User Subscriptions Groups";
}

@section Scripts{ 
    <script src ="~/js/userSubscriptions.js"></script>
}
<link rel="stylesheet" href="~/css/userSubscriptions.css" />

<div class="page-header">
    <div class="page-title">
        <h1 class="title-text">User Subscription Groups</h1>
    </div>
</div>

<div class="hidden-groupIDs">
    @for (int i = 0; i < Model.groupsIDList.Count; i++)
    {
        @Html.HiddenFor(groupID => Model.groupsIDList[i])
    }
</div>


<div class="filter-data">
    <div class="first-row">
        <div class="main-dropdown">
            <label class="filter-label" for="masterGroupDropdown">Master Group:</label>
            <select id="masterGroupDropdown" name="masterGroupDropdown" class="user-dropdown" multiple>
                @foreach (var master_group in @Model.masterGroupsList)
                {
                    <option value=@master_group> @master_group </option>
                }
            </select>
        </div>
        <div class="main-dropdown">
            <label class="filter-label" for="groupIDDropdown">Group ID:</label>
            <select id="groupIDDropdown" name="groupIDDropdown" class="user-dropdown" multiple>
                @foreach (var groupID in @Model.groupsIDList)
                {
                    <option value=@groupID> @groupID </option>
                }
            </select>
        </div>     
    </div>
    
    <div class="second-row">
        <div class="main-dropdown">
            <label class="filter-label" for="groupDropdown">Group:</label>
            <select id="groupDropdown" name="groupDropdown" class="user-dropdown" multiple>
                @foreach (var group in @Model.groupsList)
                {
                    <option value=@group> @group </option>
                }
            </select>
        </div>
        <div class="is-active">
            <p class="radio-label filter-label">Is Active:</p>
            <div class="radio-btns">
                <input type="checkbox" id="checkYes" class="checkbox-isactive" name="is_active" value="yes" />
                <label id="yesBox" class="yes-box form-check-label" for="yes">Yes</label>
                <input type="checkbox" id="checkNo" class="checkbox-isactive" name="is_active" value="no" />
                <label for="no" class="form-check-label">No</label>
            </div>
        </div>
    </div>

    <button id="btnViewUserData" class="btnViewData" type="button">View Data</button>
</div>

<div class="separator-line">
</div>

<div class="addNew">
    <h4 class="addNewText">Add New User</h4>
    <button id="addNewBtn" class="addNewBtn"><i class="fas fa-plus-circle" onclick="location.href='@Url.Action("AddNewUserSub", "SubscriptionGroups")'"></i></button>
</div>

<div id="userSubscriptionData">
</div>

<button id="btnSubmitUser" class="btnSubmit" type="button">Submit</button>