@model eComm_Reporting_Application.Models.AddNewReportSubDropdownModel
@{
    ViewData["Title"] = "Add New Report Subscription";
}

@section Scripts{
    <script src="~/js/addNewMarMaxxReport.js"></script>
}
<link rel="stylesheet" href="~/css/addNewMarMaxxReport.css" />

<div class="page-header">
    <div class="page-title">
        <h1 class="title-text">Add New MarMaxx Report Subscription</h1>
    </div>
</div>

<div class="filter-data">
    <div class="addnew-row textbox">
        <div class="addnew-textbox">
            <label class="filter-label" for="subscription-name">Subscription Name: </label>
            <input type="text" id="subscriptionName" class="subscription-textbox" name="subscription-name" />
        </div>
    </div>

    <div class="addnew-row">
        <div class="addnew-dropdown">
            <label class="filter-label" for="marMaxxGroupID">Group ID:</label>
            <select id="marMaxxGroupID" name="marMaxxGroupID">
                <option value="" disabled selected>Select a group ID...</option>
                @foreach (var groupID in @Model.groupIDs)
                {
                    <option value=@groupID> @groupID </option>
                }
            </select>
        </div>
    </div>

    <div class="addnew-row">
        <div class="addnew-dropdown">
            <label class="filter-label" for="marMaxxGroupName">Group Name:</label>
            <select id="marMaxxGroupName" name="marMaxxGroupName">
                <option value="" disabled selected>Select a group...</option>
                @foreach (var groupName in @Model.groupNames)
                {
                    <option value=@groupName> @groupName </option>
                }
            </select>
        </div>
    </div>

    <div class="addnew-row">
        <div class="addnew-dropdown">
            <label class="filter-label" for="marMaxxFolderDropdown">Folder:</label>
            <select id="marMaxxFolderDropdown" name="marMaxxFolderDropdown" onchange="selectedFolder();" multiple>
                @foreach (var folder in @Model.folders)
                {
                    <option value=@folder.folderName> @folder.folderName </option>
                }
            </select>
        </div>
    </div>

    <div class="addnew-row">
        <div class="addnew-dropdown">
            <label class="filter-label" for="marMaxxReportDropdown">Report Name:</label>
            <select id="marMaxxReportDropdown" name="marMaxxReportDropdown">
            </select>
        </div>
    </div>

    <div class="addnew-row-last">
        <button id="backToMarMaxx" class="btnAddPage" type="button" onclick="location.href='@Url.Action("Index", "MarMaxxReports")'">Back</button>
        <button id="viewReportParams" class="btnAddPage" type="button">View Report Parameters</button>
    </div>
</div>

<div id="addNewDynamic" class="dynamic-div">
    <div id="dynamicParams" class="dynamic-params">
    </div>

    <div id="saveSubscription" class="save-subscription">
    </div>
</div>

<div id="hiddenParamNames">
</div>
