@model eComm_Reporting_Application.Models.EditReportSubscriptionModel
@{
    ViewData["Title"] = "Edit Report Subscription";
}

@section Scripts{
    <script src="~/js/editMarMaxxReport.js"></script>
}
<link rel="stylesheet" href="~/css/editMarMaxxReport.css" />

<div class="page-header">
    <div class="page-title">
        @if (Model.isCopy == false)
        {
            <h1 class="title-text">Edit MarMaxx Report Subscription</h1>
        }
        else
        {
            <h1 class="title-text">Copy MarMaxx Report Subscription</h1>
        }
    </div>
</div>

<div class="hidden-selected-groups">
    @Html.HiddenFor(selectedGroupNames => Model.selectedGroupNames)
    @Html.HiddenFor(selectedGroupIDs => Model.selectedGroupIDs)
</div>

<div class="hidden-dynamic-params">
    @if (Model.dynamicParams != null)
    {
        @foreach (var parameter in Model.dynamicParams)
        {
            @Html.Hidden(parameter.Key, parameter.Value, new { @id = "selectedParamVal" });
        }
    }
</div>

<div class="hidden-folder-name">
    @Html.HiddenFor(selectedFolderName => Model.folderName)
</div>

<div id="hiddenParamNames">
</div>

<div class="filter-data">
    @if (Model.isCopy == false)
    {
        <div class="addnew-row textbox">
            <div class="addnew-textbox">
                <label class="filter-label" for="subscription-id">Subscription ID: </label>
                <input type="text" id="subscriptionID" class="subscription-textbox" name="subscription-id" disabled value="@Model.subscriptionID" />
            </div>
        </div>
    }

    <div class="addnew-row textbox">
        <div class="addnew-textbox">
            <label class="filter-label" for="subscription-name">Subscription Name: </label>
            <input type="text" id="subscriptionName" class="subscription-textbox" name="subscription-name" value="@Model.subscriptionName" />
        </div>
    </div>

    <div class="addnew-row">
        <div class="addnew-dropdown">
            <label class="filter-label" for="marMaxxReportName">Report Name: </label>
            <select id="marMaxxReportName" name="marMaxxReportName" disabled>
                <option value="@Model.reportName" disabled selected>@Model.reportName</option>
            </select>
        </div>
    </div>

    <div class="addnew-row">
        <div class="addnew-dropdown">
            <label class="filter-label" for="marMaxxGroup">Group:</label>
            <select id="marMaxxGroup" name="marMaxxGroup" multiple>
                @for (int i = 0; i < Model.groupIDs.Count; i++)
                {
                    <option title="@Model.groupIDs[i]" value=@Model.groupNames[i] label="<b>ID: </b>@Model.groupIDs[i]</br> <b>Name: </b>@Model.groupNames[i]"> </option>
                }
            </select>
        </div>
    </div>
</div>

<div id="addNewDynamic" class="dynamic-div">
    <div class="dynamic-params-div">
        <div id="dynamicParams">
        </div>
    </div>
    <button id="backToMarMaxx" class="btnAddPage" type="button" onclick="location.href='@Url.Action("Index", "MarMaxxReports")'">Back</button>
    <div id="saveSubscription" class="save-subscription">
    </div>
</div>


